
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
./downloads*

./dist*

# dependencies
/node_modules
/.pnp
.pnp.js

/main/*.js

# testing
/coverage

# next.js
/renderer/.next/
/renderer/out/

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

#flatpak
.flatpak/
.flatpak-builder
repo/
build-dir/

#vscode
.vscode/

main/*.js
main/utils/*.js
_tst_upscaled2.png
_tst_upscaled.png
_test_win_upscaled.png
_tst_up__win__Ellia_no_230603b__IMG_3925_MORE.PNG
_tst_up__win__Ellia_no_230603b__IMG_3925_MORE_realesrgan-x4plus.PNG
_tst_up__win__Ellia_no_230603b__IMG_3925.PNG
Ellia_no_230603b__IMG_3925.PNG
resources/win/bin/models/
